# Prefer IronWolf tiw-rel (VR mailbox). Use OpenVR only for this project v0.
# Do not use bare master (no d3d9_vr.h). Alternatives: vr-dx9-rel, sd805/dxvk.
[submodule "dxvk"]
	path = dxvk
	url = https://github.com/TheIronWolfModding/dxvk.git
	branch = tiw-rel-241-260612
